# Visual Studio
/.vs/*

# MLNetWrapper
/MLNetWrapper/bin/*
/MLNetWrapper/obj/*

# FactoryModel
/FactoryModel/bin/*
/FactoryModel/obj/*

# SentimentModel
/SentimentModel/bin/*
/SentimentModel/obj/*

# LocalApplication
/LocalApplication/bin/*
/LocalApplication/obj/*

# ServerlessFunction
/ServerlessFunction/bin/*
/ServerlessFunction/obj/*

# WebApi
/WebApi/bin/*
/WebApi/obj/*
